<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid" style="background-color: white; border-bottom: solid grey 1px; align-items: center;">
        <div class="dashboard-logo">
          <img
            src="../assets/easyCRMLogo.png"
            style="height: 100px; padding-bottom: 10px;"
            alt=""
          />
        </div>
        <div class="page-title">
          <h3>Dashboard</h3>
          <p>User: {{user.username}} </p>
        </div>
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-button" aria-current="page" href="/dashboard" role = "button">Dashboard</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-button" aria-current="page" href="./clients" role = "button">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-button" aria-current="page" href="#" role = "button">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-button" aria-current="page" href="/" role = "button">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <div class="row">

        
          <div class="col col-6">
            <h4>Current Leads</h4>
            <table class="table  table-striped table-bordered ">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Description</th>
                  <th scope="col">Total Hours</th>
                  <th scope="col">Revenue</th>

                  <th scope="col">Client</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                   {{#each leads as |lead|}}
                <tr>
                  <td>{{lead.id}}</td>
                  <td>{{lead.description}}</td>
                  <td>{{lead.hours}} hrs.</td>
                  <td>${{lead.revenue}}</td>
                  <td>{{lead.client.name}}</td>
                  <td>{{lead.user.username}}</td>
                  <td><a href="./updatelead/{{lead.id}}"><img src="/assets/gui_edit_icon_157165.png" style="width: 30px; height: 30px;" alt=""></a> 
                  <a href="./deletelead/{{lead.id}}"><img src="../assets/delete-icon-image-15.jpg" style="width: 30px; height: 30px;" alt=""></a></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <a href="./createlead" class="btn btn-success">New Lead</a>
          </div>
       
          
          <div class="col col-6">
             <h4>Pending Tasks</h4>
            <table class="table  table-striped table-bordered ">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Task</th>
                  <th scope="col">Date Created</th>
                  <th scope="col">Owner</th>

                  <th scope="col">Client</th>
                                    <th scope="col">Action</th>

                </tr>
              </thead>
              <tbody>
                   {{#each tasks as |task|}}
                <tr>
                  <td>{{task.id}}</td>
                  <td>{{task.content}}</td>
                  <td>{{format_date date}}</td>
                  <td>{{task.user.username}}</td>
                  <td>{{task.client.name}}</td>
                  <td><a href="#"><img src="../assets/gui_edit_icon_157165.png" style="width: 30px; height: 30px;" alt=""></a> 
                  <a href="#"><img src="../assets/delete-icon-image-15.jpg" style="width: 30px; height: 30px;" alt=""></a></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
                        <a href="#" class="btn btn-success">New Task</a>

      </div>
   </div>