<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid" style="background-color: white; border-bottom: solid grey 1px; align-items: center;">
        <div class="dashboard-logo">
          <img
            src="../assets/easyCRMLogo.png"
            style="height: 100px; padding-bottom: 10px;"
            alt=""
          />
        </div>
        <div class="page-title">
          <h3>Delete Client</h3>
        </div>
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-button" aria-current="page" href="/dashboard" role = "button">Dashboard</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-button" aria-current="page" href="/clients" role = "button">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-button" aria-current="page" href="#" role = "button">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-button" aria-current="page" href="/" role = "button">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<div class="display">

  <div class="card lead-card" style=" width: 36rem; text-align: left;">  
    <div class="card-body">
      <h5 class="card-title">Client: {{client.name}}</h5>

      <p><span>Phone: </span>{{client.phone}}</p>
      <p><span>Address:</span>{{client.address}}</p>
      <p><span>Website: </span>{{client.website}}</p>
    </div>
          <button class="btn btn-sm btn-danger delete-button" data-id="{{client.id}}">DELETE</button>
  </div>

</div>

<script src="../js/delete-client.js" ></script>
